<div id="avatars" class="avatars-grid">
  <% people.forEach(p => { %>
    <a class="avatar-container" data-person="<%= p.handle %>" tabindex="0">
      <img
        class="avatar"
        src="/images/avatars/<%= p.avatar_file_name %>"
        alt="<%= p.handle %>"
        width="120" height="120"
        loading="lazy" decoding="async"
        style="image-rendering: pixelated;"
      />
      <h5><%= p.handle %></h5>
    </a>
  <% }) %>
</div>
