</main>


<% if (!['/login'].includes(currentPath)) { %>
<footer class="footer">
    <p>© <span id="year">2025</span> Ratambuzza.ar · <span class="muted">Un progama hecho con ❤️</span></p>
</footer>
<% } %>

<!-- Hook into HTMX’s global lifecycle events for spinner purposes -->
<script>
    document.body.addEventListener('htmx:configRequest', () => {
        document.getElementById('loading-overlay').classList.remove('hidden');
    });

    document.body.addEventListener('htmx:afterRequest', () => {
        document.getElementById('loading-overlay').classList.add('hidden');
    });
</script>


</body>

</html>