<form action="/posts/new" id="newPostForm" method="POST" enctype="multipart/form-data" class="card"
  style="margin-bottom: 24px;" hx-on::after-request="this.reset()" hx-post="/posts/new"
  hx-encoding="multipart/form-data" hx-target="#post-inject-point" hx-swap="afterend">
  <h3>Nuevo posteo</h3>
  <input type="hidden" name="trip_id" value="<%= trip.id %>" />

  <textarea name="content" rows="3" autofocus placeholder="Qué anda pasando?" style="width: 100%;"></textarea>

  <div style="margin-top: 8px;">
    <label for="image">Imagen:</label>
    <input type="file" style="margin-top: 10px;" name="image" accept="image/*">
  </div>

  <button type="submit" class="button" style="margin-top: 12px;">Postear</button>
</form>
<script>
  //TODO pending this validation
  function submitHandler(e) {
  }
  document.getElementById('newPostForm').addEventListener('submit', submitHandler);

</script>