<form action="/posts/new" id="new-post-form" method="POST" enctype="multipart/form-data" class="card"
  style="margin-bottom: 24px;">
  <h3>Nuevo posteo</h3>
  <input type="hidden" name="trip_id" value="<%= trip.id %>" />

  <textarea name="content" rows="3" placeholder="Qué anda pasando?" style="width: 100%;"></textarea>

  <div style="margin-top: 8px;">
    <label for="image">Imagen (opcional):</label>
    <input type="file" style="margin-top: 10px;" name="image" accept="image/*">
  </div>

  <button type="submit" class="button" style="margin-top: 12px;">Postear</button>
</form>
<script>
  function submitHandler(e) {
  }
  document.getElementById('new-post-form').addEventListener('submit', submitHandler);

</script>