<% posts.forEach(post => { %>
  <%- include('post', { post }) %>
<% }) %>

<% if (moreUrl) { %>
  <div 
    class="loading-indicator"
    hx-get="<%= moreUrl %>" 
    hx-trigger="revealed once" 
    hx-swap="outerHTML"
  >
    <p>Loading more posts...</p>
  </div>
<% } %>
