<% if (tripMode === 'current' || tripMode === 'upcoming') { %>

<%- include('./partials/header/current-upcoming') %>

<% } else { %>

<%- include('./partials/header/past-trips') %>

<% } %>

<div class="notfound">
    <h1>404</h1>
    <p>Amigo esa página no existe.</p>
    <img src="/images/404.webp" alt="">
    <a class="button" href="/">⬅️ Vamo' a casa</a>
    <br>
</div>

<%- include('./partials/footer') %>