<%- include('partials/header') %>

<div class="notfound">
    <h1>404</h1>
    <p>Oops. That page doesn’t exist.</p>
    <img src="images/404.webp" alt="">
    <a class="button" href="/">Vamo' a casa</a>
</div>

<%- include('partials/footer') %>