<%- include('partials/header') %>

<h1>Bienvenido </h1>
<p>A la bitácora de viajes</p>
<% if (!user) { %>
<p><a href="/login">Loguéese, señor</a></p>
<% } else { %>
<p>Holis, <%= user.handle %>!</p>
<p><a href="/trips/brazil-2025">Go to current trip →</a></p>
<% } %>

<%- include('partials/footer') %>