<% layout('layout') -%>
<h1>Sign Up</h1>
<form method="POST" action="/signup">
  <label>Handle: <input name="handle" required></label><br>
  <label>Email: <input name="email" type="email" required></label><br>
  <label>Password: <input name="password" type="password" required></label><br>
  <button type="submit">Sign Up</button>
</form>