<form hx-post="/trips/<%= trip.slug %>/posts/delete" hx-vals='{"post_id": <%= post.id %>}' hx-target="closest .card"
    hx-swap="outerHTML" class="delete-post-form" hx-confirm="Seguro de borrar este post?">
    <button type="submit" class="button danger">Borrar</button>
</form>