<form hx-post="/trips/<%=currentOrUpcomingTrip.slug%>/feed/<%= post.id %>/replies" id="reply-form"
    enctype="multipart/form-data" class="card" style="margin-bottom: 24px;" hx-target="#replies-section"
    hx-swap="innerHTML">
    <h3>Nueva respuesta</h3>
    <input type="hidden" name="trip_id" value="<%= trip.id %>" />

    <textarea name="reply_text" id="reply_text" rows="3" autofocus placeholder="Qué anda pasando?"
        style="width: 100%;"></textarea>

    <div style="margin-top: 8px;">
        <label for="image">Imagen:</label>
        <input type="file" multiple style="margin-top: 10px;" name="media" accept="image/*"
            onchange="enforceMaxFiles(this, 5)">
    </div>

    <button type="submit" class="button" style="margin-top: 12px;">Responder</button>
</form>
<script>
    function enforceMaxFiles(input, max) {
        if (input.files.length > max) {
            alert(`No se puede subir más de ${max} archivos, loko.`);
            input.value = ''; // Clear the selection
        }
    }
    //TODO pending this validation
    function submitHandler(e) {
    }
    document.getElementById('reply-form').addEventListener('submit', submitHandler);

    document.body.addEventListener('htmx:beforeRequest', function (event) {
        if (event.target.id === 'reply-form') {
            const postContent = document.getElementById('reply_text')?.value || '';
            if (postContent.trim().length < 1) {
                event.preventDefault(); // This works for HTMX
                hideSpinner();
                showToast('Broder, el texto del reply no puede estar vacío.', 'error');
            }
        }
    });

</script>