<!-- FEED replies button (HTMX) -->

<button class="button secondary-color" onclick="redirectToReplyPage(<%= post.id %>)">
    <div style="display: flex; flex-direction: row; align-items: center;">
        <%= post.replies_count %>
        <img src="/images/replies.png" alt="Respuestas" style="width: 25px;">
    </div>
</button>

<script>
    function redirectToReplyPage(postId) {
        if (!location.pathname.endsWith(`/feed/${postId}`)) {
            location.href = `/trips/<%=currentOrUpcomingTrip.slug%>/feed/${postId}`
        }
    }
</script>