<aside class="sidebar-right">

    <!-- Everything related to creating a new post -->
    <div id="post-controls">
        <button class="button showPostForm" style="margin-bottom: 20px; width:100%">+ Nueva Respuesta</button>
    </div>

</aside>