<%- include('../partials/header/past-trips') %>

<%- include('../partials/banner-scroll') %>

<h1>Holis <%= currentUser.handle %>!</h1>

<br>

This is what you would see in past-trips.ejs

<%- include('../partials/footer') %>