<% if (!['/login'].includes(currentPath)) { %>
<header class="topbar">
    <!-- 2. Navigation Bar -->
    <div class="nav-bar">
        <a class="logo desktop-only" href="/">Ratambuzza.ar</a>
        <nav class="main-nav">
            <a href="/trips/<%-currentOrUpcomingTrip.slug%>/feed"><img class="menu-item" src="/images/feed.png"></a>
            <a href="/trips/<%-currentOrUpcomingTrip.slug%>/gallery"><img class="menu-item" src="/images/pix.png"></a>
            <a href="/trips/<%-currentOrUpcomingTrip.slug%>/prizes"><img class="menu-item" src="/images/awards.png"></a>
            <a href="/logout"><img class="menu-item" src="/images/logout.png"></a>
        </nav>
    </div>
</header>
<% } %>