<%- include('../../partials/header/current-upcoming') %>


<main class="generic-container">
    <%- include('postcards-list') %>

    <%- include('new-postcard-form') %>

    <%- include('../../partials/footer') %>
</main>