<br>
<br>
<div id="postcards-list">
    <% if(postcards.length < 1) {%>
    Todavía no generaste postales, bro.
    <% } else {%>
    <h2>Tus postales</h2>
    <ul>
        <% postcards.forEach(pc => { %>
        <li>
            <%= pc.status %>
            <% if (pc.image_url) { %>
            <img src="<%= pc.image_url %>" width="200">
            <% } else if (pc.status === 'error') { %>
            <strong>Error:</strong> <%= pc.error_message %>
            <% } else { %>
            (Generating...)
            <% } %>
        </li>
        <% }) %>
    </ul>

    <% } %>
</div>