<div style="margin-bottom: 1rem;">
    <div class="sort-options">
        <span>Tags:</span>
        <span class="sort-pill tag-pill" id="default-tag-pill" data-tag="-1">recientes</span>
        <% tags.forEach(tag=>{%>
        <span class="sort-pill tag-pill" data-tag="<%= tag.id%>"><%= tag.name%></span>
        <%}) %>
    </div>
    <div class="sort-options">
        <span>Autores:</span>
        <span class="sort-pill author-pill" id="default-author-pill" data-author="-1">todos</span>
        <% authors.forEach(author=>{%>
        <span class="sort-pill author-pill" data-author="<%= author.id%>"><%= author.handle%></span>
        <%}) %>
    </div>
</div>