<style>
    .sort-options {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .sort-pill {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0.4rem 0.8rem;
        border-radius: 999px;
        cursor: pointer;
        font-size: 0.8rem;
        color: black;
        user-select: none;
        border: 1px solid var(--accent-1);
    }

    .sort-pill.active {
        background-color: rgba(255, 255, 255, 0.6);
        color: red;
    }

    .sort-pill:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
</style>


<div id="filter-pills">
    <%- include('filter-pills') %>
</div>

<script>
    // TODO: save this in the localStorage and not globally
    let selectedTagId = '-1'; // Default to "recientes"

    document.getElementById('default-filter-pill').classList.add('active');

    document.getElementById('filter-pills')?.addEventListener('click', (e) => {
        if (!e.target.classList.contains('sort-pill')) return;

        // Update selected tag
        selectedTagId = e.target.dataset.sort;

        // Update pill UI
        document.querySelectorAll('.sort-pill').forEach(p => p.classList.remove('active'));
        e.target.classList.add('active');

        // HTMX load new filtered media
        const url = `/trips/<%= currentOrUpcomingTrip.slug %>/gallery?sort=${selectedTagId}`;
        htmx.ajax('GET', url, {
            target: '#media-grid',
            swap: 'innerHTML'
        });
    });

    // Re-apply active class after filter-pills update
    document.body.addEventListener('htmx:afterSwap', (evt) => {
        if (evt.target.id === 'filter-pills') {
            const activePill = document.querySelector(`.sort-pill[data-sort="${selectedTagId}"]`);
            if (activePill) {
                activePill.classList.add('active');
            }
        }
    });
</script>