<div class="tag-list">
    <% if (currentTags && currentTags.length > 0) { %>
    <% currentTags.forEach(tag => { %>
    <span class="tag-pill"><%= tag.trim() %></span>
    <% }) %>
    <% } else { %>
    <span class="tag-pill empty">No tags</span>
    <% } %>
</div>

<!-- Now we fire an event to update the filter pills -->
<!-- <script>
    document.body.dispatchEvent(new CustomEvent('tags-updated'));
</script> -->