<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title + ' — Ratambuzza' : 'Ratambuzza.ar' %></title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style/main.css" />

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <script src="/javascript/vendor/htmx.min.js"></script>

    <style>
        body {
            opacity: 0;
            transition: opacity 300ms ease-in-out;
        }
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            document.body.style.opacity = '1';
        });
    </script>

</head>


<body>
    <div id="global-spinner" class="spinner hidden"></div>

    <%- include('../top-menu/past-trips')%>

    <main class="main-container">